CodeCompletion-token/dataset/py150/py150_files/*
.DS_Store
*.log
*.pyc

extract/results/
clone/.data_cache/
clone/save/
log/
*.png
Play.md
prompts/log
prompts/results
prompts/prompt_data
prompts/prompt_data-train.csv
prompts/random_sample_prompt_dev/result

evaluation/results
evaluation/sensitive
prompts/random_sample_prompt_dev/results/