CodeCompletion-token/dataset/py150/py150_files/*
.DS_Store
*.log
*.pyc
CodeCompletion-token/dataset/py150/token_completion/*
CodeCompletion-token/dataset/javaCorpus/JavaCorpusRaw/*
CodeCompletion-token/dataset/javaCorpus/JavaCorpusRaw
CodeCompletion-token/save/
CodeCompletion-token/dataset/javaCorpus/token_completion/
CodeCompletion-token/dataset/py150/token_completion-original/
CodeCompletion-token/dataset/javaCorpus/separation/
CodeCompletion-line/save/
CodeCompletion-line/dataset/py150/line_completion_emails/
CodeCompletion-benchmark/results/
extract/results/
clone/.data_cache/
clone/save/
log/
*.png
Play.md
prompts/log
prompts/results
prompts/prompt_data
prompts/prompt_data-train.csv
prompts/random_sample_prompt_dev/result

evaluation/results
evaluation/sensitive
prompts/random_sample_prompt_dev/results/